h1 {
    color: #00796b;
}

h2 {
    color: #b2dfdb;
}

footer {
    margin-top: 60px;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #e64a19;
    border: 1px solid #212121;
}

a {
    transition: all .3s;
}

a:hover, a:focus, a:active {
    color: #7c4dff;
    text-decoration: none;
}

.pagination {
    color: #00796b;
    display: block;
    text-align: center;
}

